![python.exe](https://drive.google.com/uc?id=1oY07NFR8n0Q3oP9CwwxLWh40cGEb_YkU)

<a id="toc"></a>

# <p style="background-color:#0D8D99; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Lab3 Prep DAwPy</p>

<div class="alert alert-block alert-info"><h1><p style="text-align: center; color:purple"><font color=darkblue><b>Some Practical Use Cases</b></font><br><br>"for-else" & "while-else" structure<br><br>"pass" keyword<br><br><font color=darkblue>Some Algorithm Exercises</font><br><br>Prime Numbers & Fizz Buzz Numbers & Letters Count</p>

## for-else structure :

for loops also have an else clause which most of us are unfamiliar with. 

**The "else" clause executes after the loop completes normally.** 

**This means that the loop did not encounter a "break" statement.**

In [1]:
for i in range(5):
    print(i)
else :
    print("the code block of 'else' executed.")

# since there was no 'break' statement, the 'else' block was executed.

0
1
2
3
4
the code block of 'else' executed.

Then, what was the point of the 'else' statement?<br>
In fact, it didn't really serve a purpose, and we could have achieved the same output without it. 

In Python, **the 'else' keyword used in conjunction with a 'for' loop only gains significance when used with the 'break' keyword.**

If the loop was terminated using the **'break'** keyword, the 'else' block will not execute, but if it was not terminated using 'break', then the 'else' block will execute. 

In the example above, **since there was no 'break' statement, the 'else' block was executed.**

<hr>

**Typically, when searching for an item within a loop, we use the "break" statement to exit the loop once the item is found.**

However, there are two possible ways the loop may terminate:<br> 
either the item is found and **"break"** is executed,<br> 
or the loop completes without encountering a **"break"** statement. 

To determine which scenario caused the loop to end, we can either set a flag within the loop and check it after the loop has completed, or use the **"else"** clause.<hr>

Let's say we have a string and we want to check if the letter 'a' is present in it. If it is, we want to print a message indicating its presence on the screen:

In [11]:
text = "We are covering the final laboratory class this evening."

for letter in text :
    if letter == "a" :
        print("the letter 'a' is found in the text.")

the letter 'a' is found in the text.
the letter 'a' is found in the text.
the letter 'a' is found in the text.
the letter 'a' is found in the text.
the letter 'a' is found in the text.

As you can see, in each iteration of the 'for' loop, it checked one character of the 'text' string and printed a message every time it found the letter 'a'.

However, if we want to only check if the letter 'a' is present in the 'text' string, we need to ensure that the loop stops as soon as it finds the first occurrence of 'a'. This is where the **'break'** keyword comes in.

Once the condition for finding the letter 'a' is met, the **'break'** keyword will execute, and the loop will terminate at that point.

In [10]:
text = "We are covering the final laboratory class this evening."

for letter in text :
    if letter == "a" :
        print("the letter 'a' is found in the text.")
        break

the letter 'a' is found in the text.

Now, let's use a for loop to check if the 'a' character exists in the text and print 'the letter "a" is not found' to the screen if it is not found.

Note that you can do this simply using only an **if statement** and the **'in'** operator in its condition without using a for loop. **Our goal here is to demonstrate what the for-else structure is used for.**

In [9]:
text = "Orion instructor likes this cohort."

for letter in text :
    if letter == "a" :
        print("the letter 'a' is found in the text.")
        break  
else : 
    print("the letter 'a' is NOT found in the text.")

the letter 'a' is NOT found in the text.

## while - else usage:

In [15]:
a = 1

while a < 10 :  # While a is less than 10
    a += 1    # a is incremented by 1
else :        # If a is not less than 10
    print(a)  # the value of a is printed to the screen

10

## "pass" keyword:

<hr>

In Python we may sometimes need an empty statement. In such cases, we can use the **pass** keyword.

**pass** is used in Python to indicate that it is an empty statement. **This statement is skipped by the Python interpreter and does nothing.**<hr>

**pass keyword in a function:**

It is particularly useful when we haven't defined a **function** or class yet. Instead of leaving it empty, we can use the pass keyword to create a template. For example:

In [12]:
def my_function():
    pass

# This creates an empty template for the my_function function. 
# We can later fill in the template to make the function fit its purpose.

**pass keyword in an if statement:**

Additionally, the **pass** keyword can also be used for an unfinished code block within an **if statement**, allowing us to leave a temporary blank space in our code

For example:

In [14]:
x = 1

if x < 0:
    pass  # there's nothing to do yet
else:
    print("x is positive")

x is positive

**pass keyword in a for loop:**

If we don't want to perform any operation in the code block of a **for loop** but also don't want our code to throw an error, we can use the 'pass' keyword.

In [7]:
for i in range(10) :
    pass   
else :
    print(i)
    
# The variable "i" was expected to be used inside the code block of the for loop, 
# but I did not use it. However, I did not receive any errors!

9

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Task 1 - Prime Numbers</p>

<div class="alert alert-block alert-info">
<font color=blue><b>Task :</b></font>
<font color=red><b>Print the prime numbers which are between 1 to entered limit number (n).</b></font><br><br>
<font color=darkblue>   
<ol>
 <li>You can use a nested for loop.</li>
 <li>Collect all these numbers into a list</li>
 <li>The desired output for n=100 :</li>
</ol></font>

![python.exe](https://drive.google.com/uc?id=1_bHfV24rNp8OYnKMdElkcVpmgz0xgvhL)

Let's first write a program that finds prime numbers among the numbers from 1 to 10 :

In [16]:
for i in range(2, 10): # For each i from 2 to 10,
    
    for j in range(2, i): # for each j in the range from 2 to i"
        
        if i % j == 0: # If the remainder of i divided by j is 0, that is, if i is divisible by j without a remainder.
            break # Then, it means that i has at least one divisor other than 1 and itself.
                  # In this case, stop the inner for loop.
            
    else: # "If there is no number between 2 and i that evenly divides i, 
          
        print(i) # then print i to the screen.
        
# When the loop finishes, all i numbers that satisfy the condition checked above will be printed to the screen

2
3
5
7

### Let's make the program check prime numbers up to a certain number to be taken from the user:

In [10]:
number = int(input("enter a number to find the prime numbers in it :"))

for i in range(2, number) :
    for j in range(2, i) :
        if i % j == 0 :
                break
    else:
        print(i, end = " ")

enter a number to find the prime numbers in it :30
2 3 5 7 11 13 17 19 23 29

### we can append prime numbers to a list:

In [12]:
number = int(input("enter a number to find the prime numbers in it :"))
prime_list = []

for i in range(2, number) :
    for j in range(2, i) :
        if i % j == 0 :
            break
    else:
        prime_list.append(i)

print(prime_list)

enter a number to find the prime numbers in it :30
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

### Solution using a counter:

In [13]:
number = int(input("enter a number to find the prime numbers in it :"))
prime_list = []

for i in range(2, number) :
    count = 0
    
    for j in range(2, i) :
        if i % j == 0 :
            count += 1 
    if count == 0 :
        prime_list.append(i)

print(f"list of prime numbers from 1 to {number} : {prime_list}")

enter a number to find the prime numbers in it :30
list of prime numbers from 1 to 30 : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Task 2 - Fizz Buzz Numbers</p>

<div class="alert alert-block alert-info">
<font color=blue><b>Task :</b></font>
<font color=red><b>Print the Fizz Buzz numbers.</b></font><br><br>
<font color=darkblue>
<ul>
 <li>TFizz Buzz is a famous code challenge used in interviews to test basic programming skills. It's time to write your own implementation.</li>
 <li>Print numbers from 1 to 100 inclusively following these instructions:<br><br></li>
<font color=darkred>    
<ol>
 <li>if a number is multiple of 3, print "Fizz" instead of this number,</li>
 <li>if a number is multiple of 5, print "Buzz" instead of this number,</li>
 <li>for numbers that are multiples of both 3 and 5, print "FizzBuzz",</li>
 <li>print the rest of the numbers unchanged.</li>
</ol></font></ul>   
<font color=blue>Output each value on a separate line.</font>

Fizz Buzz is a popular programming interview question that requires a candidate to write a program that outputs numbers from 1 to a given number, with certain conditions applied.

The conditions are:<br>

If a number is divisible by 3, the program should print "Fizz" instead of the number.<br>
If a number is divisible by 5, the program should print "Buzz" instead of the number.<br>
If a number is divisible by both 3 and 5, the program should print "FizzBuzz" instead of the number.<br>

The Fizz Buzz problem is often used in programming interviews to test a candidate's basic programming skills, logical thinking, and ability to write clean and concise code

In [17]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz", end = " ")
    elif i % 3 == 0:
        print("Fizz", end = " ")
    elif i % 5 == 0:
        print("Buzz", end = " ")
    else:
        print(i, end = " ")

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

**We can combine the condition "i % 3 == 0 and i % 5 == 0" as "i % 15 == 0"**

In [18]:
for i in range(1, 101) :
    if i % 15 == 0 :
        print("FizzBuzz", end = " ")
    elif i % 3 == 0 :
        print("Fizz", end = " ")
    elif i % 5 == 0 :
        print("Buzz", end = " ")
    else :
        print(i, end = " ")

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

# Solution with "nested ternary expression" :

![python.exe](https://drive.google.com/uc?id=1QhoObXTxv-Aohs4n9unGRPMtf62YfpXc)

In [22]:
x, y = 10, 20

# Print 'equal' if x is equal to y, otherwise print 'not equal'
"equal" if x == y else "not equal"

'not equal'

In [3]:
import numpy as np

In [28]:
np.random.randn()  # Return a sample (or samples) from the "standard normal" distribution

1.169548185038747

**randn() Returns a sample (or samples) from the "standard normal" distribution (with a mean of 0).** 

**Therefore, sometimes this number can be less than 0, and sometimes it can be greater than 0.** 

**We will use this while checking if the number is less than or greater than 0 in the nested ternary expression we will write shortly**

![python.exe](https://drive.google.com/uc?id=1Y8oU4fN4CSKs-lU397ZsadKvSS8qoisu)

In [31]:
a = np.random.randn()

"Less than zero" if a < 0 else "Between 0 and 1" if a >= 0 and a <= 1 else "Greater than 1"

'Between 0 and 1'

In [9]:
a = np.random.randn()

print("The number randomly selected is", "'less than zero'" if a < 0 else "'between 0 and 1'" if a >= 0 and a <= 1 else "'greater than 1'")

The number randomly selected is 'less than zero'

### The solution of Fizz Buzz Number Task with nested ternary operators:

In [ ]:
for number in range(1, 101) :
    print("FizzBuzz" if not number % 3 and not number % 5 \
          else "Buzz" if not number % 5 else "Fizz" if not number % 3\
         else number, end = " ")

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Task 3 - Letters Count</p>

<div class="alert alert-block alert-info">
<font color=blue><b>Task :</b></font>
<font color=red><b>Count the number of each letter in a sentence.</b></font><br><br>
<font color=darkblue>
<ul>
 <li>The department you work for undertook a project construction that makes word / text analysis. You are asked to calculate the number of letters or any chars in the sentences entered under this project.</li>
 <li>Write a Python program that;<br><br></li>
<font color=darkred>    
<ol>
 <li>takes a sentence from the user,</li>
 <li>counts the number of each letter/chars of the sentence,</li>
 <li>collects the letters/chars as a key and the counted numbers as a value in a dictionary.</li>
</ol></font></ul>   
</font>

![python.exe](https://drive.google.com/uc?id=1PbYWqNkZxRG-t-nEv-TCFwy___GcN_ug)

<hr>

Our scenario is as follows: The department you work for has undertaken a project that performs word/text analysis. As part of this project, you are asked to calculate the number of letters or characters in the entered sentences.

The method we are asked to follow when calculating this is:

We will get a sentence from the user.<br>
We will count each letter and character of the sentence,<br>
We will collect the letters and characters as "keys" and their repeat numbers as "values" in a dictionary.<br>

For example, looking at the output for the sentence **"hippo runs to us!"**;

we see that each letter is a key.<br> 
The values corresponding to the keys also show the number of times that letter appears in the text.<br> 
When we examine the key-value pairs, we understand that there are 2 s's, 1 r, 1 t, and 2 u's in the sentence.
<hr>

**In summary, we will create a dictionary where each letter in an entered sentence is a 'key', and the number of times these letters are repeated is its 'value'. As a result, we will determine how many times the letters appear in the given sentence.**

In [25]:
# Let's first create an empty dictionary:

word = {}

In [26]:
# Then, let's add a value to it:

word["e"] = 1

In [27]:
# thus created a key-value pair.

word

{'e': 1}

In [28]:
# Let's create one more key-value pair:

word["d"] = 1

In [29]:
word

{'e': 1, 'd': 1}

In [30]:
# and one more:

word["c"] = 1

In [31]:
word

{'e': 1, 'd': 1, 'c': 1}

In [32]:
word["c"]

1

In [35]:
# We can increase the value of one of the keys like this:

word["c"] = word["c"] + 1

word

# {run this cell for 3 times and see the result}

{'e': 1, 'd': 1, 'c': 4}

<hr>

- I will use a loop in this task.

- I will check each key of the dictionary one by one in the loop. My condition will be as follows:

- Is the key that I am checking one by one present in the dictionary or not?<br>
- If the key is present among the dictionary keys, I will increase its value by one.<br> 
- If it is not present in the dictionary (meaning encountering it for the first time), I will add that key to the dictionary.<br>

- In this for loop, I will take each letter of the entered sentence one by one and check it according to this condition.In the end, I will have a dictionary consisting of the letters in the sentence and their repetition numbers.

In [36]:
# Remember the "in" membership operator:

"c" in word

True

In [37]:
"f" in word

# The letter 'f' returned False since it was not in the keys of the "word" dict.

False

In [40]:
string = "I am very sad today. We are together for the last time and the time has come to say goodbye."

word_dict = {}  # I should start with an empty dictionary

for n in string :  # for each character in the string..
    
    if n in word_dict :  # if 'n' is present in the dictionary, execute the following code:
        word_dict[n] += 1  # If 'n' is present in the dictionary, its value should be incremented by 1.
        
    else :  # If  'n' is not present in the dictionary, 
        word_dict[n] = 1   # create a new 'key' and assign it a value of 1.
        
print(word_dict)

{'I': 1, ' ': 19, 'a': 8, 'm': 4, 'v': 1, 'e': 11, 'r': 4, 'y': 4, 's': 4, 'd': 4, 't': 9, 'o': 7, '.': 2, 'W': 1, 'g': 2, 'h': 4, 'f': 1, 'l': 1, 'i': 2, 'n': 1, 'c': 1, 'b': 1}

## Let's use the same method to determine the number of data types of the elements in a list.: (OPTIONAL)

In [44]:
data = ["a", "b", True, (False, 1), {"1":2}, [1,2], {"2":"two"},{2, "3"}, "c", 23, 0]

In [45]:
types = ["int", "str", "bool", "list", "tuple", "dict", "set"]

**we will have an output similar to this:**

**{"bool" : 1, "int" : 2, "list" : 1, "tuple" : 1, "str" : 3, "dict" : 2}**

In [1]:
a = {}

In [ ]:
a.fromkeys()  # shif tab tab!!

**The fromkeys() function in Python is used to create a new dictionary from a specified list of keys and a specified value.**

The function is used as follows:

In [46]:
a.fromkeys(types, True)

{'int': True,
 'str': True,
 'bool': True,
 'list': True,
 'tuple': True,
 'dict': True,
 'set': True}

Here, "types" is an iterable that contains the keys for the new dictionary to be created. "True" is the value that will be assigned to each key in the new dictionary. 

If value is not specified, it defaults to **None**

In [47]:
a.fromkeys(types, 0)

{'int': 0, 'str': 0, 'bool': 0, 'list': 0, 'tuple': 0, 'dict': 0, 'set': 0}

In [54]:
# We should assign a zero value to them initially before starting to count the types of elements in the list

total_types  = {}.fromkeys(types, 0)
total_types

{'int': 0, 'str': 0, 'bool': 0, 'list': 0, 'tuple': 0, 'dict': 0, 'set': 0}

In [49]:
print(data)

['a', 'b', True, (False, 1), {'1': 2}, [1, 2], {'2': 'two'}, {2, '3'}, 'c', 23, 0]

In [50]:
type(data[5])

list

In [51]:
type(data[3])

tuple

In [55]:
for i in range(len(data)):
    
    if type(data[i]) == int : total_types["int"] += 1   # If the element is an integer, increase the value of the 'int' key by one
    elif type(data[i]) == str : total_types["str"] += 1  # If the element is an str, increase the value of the 'str' key by one
    elif type(data[i]) == bool : total_types["bool"] += 1 # If the element is an bool, increase the value of the 'bool' key by one
    elif type(data[i]) == list : total_types["list"] += 1  # If the element is an list, increase the value of the 'list' key by one
    elif type(data[i]) == tuple : total_types["tuple"] += 1 # If the element is an tuple, increase the value of the 'tuple' key by one  
    elif type(data[i]) == dict  : total_types["dict"] += 1  # If the element is an dict, increase the value of the 'dict' key by one
    elif type(data[i]) == set : total_types["set"] += 1  # If the element is an set, increase the value of the 'set' key by one
        
total_types

{'int': 2, 'str': 3, 'bool': 1, 'list': 1, 'tuple': 1, 'dict': 2, 'set': 1}

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Task 4 - Tax Deduction</p>

Let's create a DataFrame. One of the columns should consist of employees' names and surnames, the second column should contain their department information, and the third column should represent their salaries.

Objective: We will create a fourth column consisting of the amount of tax calculated as 20% of the salaries.

In [11]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Ahmet Yılmaz', 'Ayşe Şahin', 'Mehmet Arslan'],
    'Department': ['Accounting ', 'Human Resource', 'Data Analyst'],
    'Salary': [5000, 6000, 10000]
})

df

            Name      Department  Salary
0   Ahmet Yılmaz     Accounting     5000
1     Ayşe Şahin  Human Resource    6000
2  Mehmet Arslan    Data Analyst   10000

In [12]:
df['Salary'].map(lambda x: x * 0.2)

0    1000.0
1    1200.0
2    2000.0
Name: Salary, dtype: float64

**We obtained new data by using the data in the "Salary" column. In other words, we mapped the "Salary" data**

In [13]:
df['tax_deduction'] = df['Salary'].map(lambda x: x * 0.2)

df

            Name      Department  Salary  tax_deduction
0   Ahmet Yılmaz     Accounting     5000         1000.0
1     Ayşe Şahin  Human Resource    6000         1200.0
2  Mehmet Arslan    Data Analyst   10000         2000.0

Let's create another column from the remaining amount of salary:

In [14]:
df['net_Salary'] = df['Salary'].map(lambda x: x * 0.8)

df

            Name      Department  Salary  tax_deduction  net_Salary
0   Ahmet Yılmaz     Accounting     5000         1000.0      4000.0
1     Ayşe Şahin  Human Resource    6000         1200.0      4800.0
2  Mehmet Arslan    Data Analyst   10000         2000.0      8000.0

We can also calculate this using an expression:

In [15]:
df['net_Salary2'] = df['Salary'] - df['tax_deduction']   
# The right side of the equation is an expression that generates a value.
df

,Name,Department,Salary,tax_deduction,net_Salary,net_Salary2
0,Ahmet Yılmaz,Accounting,5000,1000.0,4000.0,4000.0
1,Ayşe Şahin,Human Resource,6000,1200.0,4800.0,4800.0
2,Mehmet Arslan,Data Analyst,10000,2000.0,8000.0,8000.0

![python.exe](https://drive.google.com/uc?id=1oY07NFR8n0Q3oP9CwwxLWh40cGEb_YkU)